.header__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: #000000;
  left: 64px;
  bottom: 30px;
  width: 388px;
  position: absolute;
  margin: auto;
  z-index: 3;
}
